/*CUSTOM-PROPS */

:root {
    --midnight-green: rgba(1, 78, 86, 1);
    --light-coral: rgba(246, 126, 126, 1);
    --white: #fff;
    --rapture-blue: rgba(121, 200, 199, 1);
    --police-blue: rgba(44, 98, 105, 1);
    --deep-jungle-green: rgba(0, 64, 71, 1);
    --sacramento-state-green: rgba(1, 47, 52, 1);
    --dark-green: rgba(0, 37, 41, 1);
}


/* GLOBAL */

*:focus {
    outline: 3px dotted var();
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Livvic', 'Arial', sans-serif;
    color: var(--white);
    background-color: var(--midnight-green);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */


/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */


/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}


/* BUTTON */

.button {
    display: inline-block;
    padding: 10px 32px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 24px;
}

.site-header__button {
    color: white;
    border: 2px solid var(--white);
}

.site-header__button:hover {
    background-color: var(--white);
    color: var(--midnight-green);
}

.site-header__button:active {
    color: white;
    background-color: var(--midnight-green);
    opacity: 0.6;
}

.cta__button {
    color: var(--midnight-green);
    background-color: transparent;
    border: 2px solid var(--midnight-green);
}

.cta__button:hover {
    color: var(--white);
    background-color: var(--midnight-green);
    border: 2px solid trasparent;
}


/* SITE-HEADER */

.site-header {
    padding-top: 73px;
    padding-bottom: 129px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo-link {
    margin-right: 80px;
}

.site-header__logo {
    width: 160px;
    height: 40px;
    object-fit: contain;
}

.site-header__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: auto;
}

.site-header__item:not(:last-child) {
    margin-right: 40px;
}

.site-header__link {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: var(--white);
}

.site-header__link:hover {
    color: var(--light-coral);
}

.site-header__link:active {
    opacity: 0.6;
}


/* HERO */

.hero {
    background-image: url("../img/hero-left-bg-min.svg"), url("../img/hero-bottom-right-bg-min.svg");
    background-repeat: no-repeat;
    background-position: -100px 70px, 960px 380px;
    padding-bottom: 145px;
}

.hero__container {
    position: relative;
    display: flex;
    align-items: center;
}

.hero__title {
    width: 635px;
    margin-right: 30px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
}

.hero__line {
    position: absolute;
    left: 0%;
    right: -270px;
    top: 0%;
    bottom: 97.95%;
    width: 50px;
    height: 4px;
    background-color: var(--rapture-blue);
    border: 0;
}

.hero__text {
    align-items: flex-end;
    width: 445px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.light-coral-word {
    color: var(--light-coral);
}


/* FEATURES */

.features {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--sacramento-state-green);
    background-image: url("../img/features-right-bg-min.svg");
    background-position: 1420px 440px;
    background-repeat: no-repeat;
}

.features__container {
    display: flex;
}

.features__line {
    position: absolute;
    left: 206px;
    top: 840px;
    width: 50px;
    height: 4px;
    border: 0;
    background-color: var(--light-coral);
}

.features__title {
    margin-right: 125px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    width: 445px;
}

.features__list {
    width: 540px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features__item {
    display: flex;
    align-items: center;
}

.features__item:not(:last-child) {
    margin-bottom: 32px;
}

.features__img {
    width: 72px;
    height: 72px;
    object-fit: contain;
    margin-right: 23px;
}

.features__info {
    position: relative;
    top: 20px;
}

.features__info-heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--light-coral);
}

.features__info-text {
    margin-top: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}


/* REVIEWS */

.reviews {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--deep-jungle-green);
    background-image: url("../img/reviews-bg-left-min.svg"), url("../img/reviews-bg-right-min.svg");
    background-repeat: no-repeat;
    background-position: top left, right 605px;
    left: 1440px;
    top: 645px;
}

.reviews__title {
    margin-left: auto;
    margin-right: auto;
    width: 932px;
    margin-top: 0;
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.reviews__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.reviews__item {
    background-image: url("../img/icon-quotes-min.svg");
    background-repeat: no-repeat;
    background-position: center -10px;
}

.reviews__item:not(:last-child) {
    margin-right: 30px;
}

.review__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    text-align: center;
}

.review__wrapper {
    text-align: center;
}

.review__name {
    margin-top: 0;
    margin-bottom: 2px;
    color: var(--rapture-blue);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
}

.review__info-about {
    margin-top: 0;
    margin-bottom: 32px;
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.review__img {
    width: 62px;
    height: 62px;
    object-fit: cover;
}


/* CTA */

.cta {
    padding-top: 76px;
    padding-bottom: 76px;
    background-color: var(--light-coral);
    background-image: url("../img/cta-left-img-min.svg");
    background-position: left 140px;
    background-repeat: no-repeat;
}

.cta__container {
    display: flex;
    align-items: center;
    width: 917px;
    /* justify-content: space-between; */
}

.cta__title {
    margin-right: auto;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--sacramento-state-green);
}


/* SITE-FOOTER */

.site-footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--dark-green);
}

.site-footer__container {
    display: flex;
    align-items: center;
}

.site-footer__content {
    position: relative;
    top: 10px;
    margin-right: 125px;
}

.site-footer__logo-link {
    margin-top: 0;
}

.site-footer__logo {
    width: 160px;
    height: 40px;
    object-fit: cover;
    margin-bottom: 25px;
}

.site-footer__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: auto;
}

.site-footer__item:not(:last-child) {
    margin-right: 40px;
}

.site-footer__link {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: var(--white);
}

.site-footer__link:hover {
    color: var(--light-coral);
}

.site-footer__link:active {
    opacity: 0.6;
}


/* contact-info */

.site-footer__contact-info {
    position: relative;
    top: -10px;
    width: 445px;
    margin-right: auto;
}

.site-footer__contact-info__text {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}


/* socials and copyright */

.site-footer__socials {
    padding: 0;
    margin: 0;
}

.site-footer__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-footer__item:not(:last-child) {
    margin-right: 16px;
}

.site-footer__link {
    display: block;
    text-decoration: none;
    margin-bottom: 48px;
}

.site-footer__link:active {
    opacity: 0.6;
}

.site-footer__copyright {
    margin-top: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}


/* RETINA */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {}